{% extends "layout.html" %}
{% block content %}
    <div  id="main-subcontainer" class="flex flex-col">
    
        <div class="sticky flex flex-row self-center w-auto mt-5">
            <img src="{{ image_file }}" class="rounded-full">
            <div class="flex flex-col ml-4 mr-4">
                <h2 class="font-semibold">{{ current_user.username }}</h2>
                <p>{{ current_user.email }}</p>

                {% if requires_update %}
                    <div>
                        <p>Your personal information has not been updated yet.</p>
                    </div>
                {% else %}
                    <div>
                        <p>You have already updated your data. Browse it?</p>
                    </div>
                {% endif %}
            
                <button onclick="javascript:showForm()" class="w-2/5 inline-block self-center bg-blue-400 hover:bg-blue-600 text-gray-300 font-bold p-2 mt-2 rounded focus:outline-none">
                    Show my info
                </button>
            </div>
        </div>

        <div class="h-32"></div>
        <div id="form" class="self-center w-4/5 md:w-1/3 hidden">
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <fieldset>

                    <legend class="font-semibold mb-4">Update Your Information</legend>

                    <div>
                        {{ form.username.label(class="block text-grey-darkest text-sm font-bold mt-3 mb-2") }}
                        {% if form.username.errors %}
                            {{ form.username(class="shadow appearance-none bg-red-lighter rounded-lg red-light w-full py-2 px-3 mb-2 text-grey-darkest leading-tight focus:outline-none") }}
                            <div>
                                {% for error in form.username.errors %}
                                    <span class="inline-block text-red-600 text-sm">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="shadow appearance-none rounded-lg w-full py-2 px-3 mb-2 text-grey-darkest leading-tight focus:outline-none") }}
                        {% endif %}
                    </div>

                    <div>
                        {{ form.email.label(class="block text-grey-darkest text-sm font-bold mt-3 mb-2") }}
                        {% if form.email.errors %}
                            {{ form.email(class="shadow appearance-none bg-red-lighter rounded-lg red-light w-full py-2 px-3 mb-2 text-grey-darkest leading-tight focus:outline-none") }}
                            <div>
                                {% for error in form.email.errors %}
                                    <span class="inline-block text-red-600 text-sm">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="shadow appearance-none rounded-lg w-full py-2 px-3 mb-2 text-grey-darkest leading-tight focus:outline-none") }}
                        {% endif %}
                    </div>

                    <div class="mt-4">
                        {{ form.picture.label(class="block text-grey-darkest text-sm font-bold mt-3 mb-2") }}
                        {{ form.picture() }}
                        {% if form.picture.errors %}
                            {% for error in form.picture.errors %}
                                <br><span class="inline-block text-red text-sm" role="alert">{{ error }}</span>
                                <script>alert("And error has occurred. Please try again.")</script>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="mt-4">
                        {{ form.first_name.label(class="block text-grey-darkest text-sm font-bold mt-3 mb-2") }}
                        {% if form.first_name.errors %}
                            {{ form.first_name(class="shadow appearance-none bg-red-lighter rounded-lg red-light w-full py-2 px-3 mb-2 text-grey-darkest leading-tight focus:outline-none") }}
                            <div>
                                {% for error in form.first_name.errors %}
                                    <span class="inline-block text-red-600 text-sm">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.first_name(placeholder="This field is required", class="shadow appearance-none rounded-lg w-full py-2 px-3 mb-2 text-grey-darkest leading-tight focus:outline-none") }}
                        {% endif %}
                    </div>

                    <div>
                        {{ form.middle_name.label(class="block text-grey-darkest text-sm font-bold mt-3 mb-2") }}
                        {% if form.middle_name.errors %}
                            {{ form.middle_name(class="shadow appearance-none bg-red-lighter rounded-lg red-light w-full py-2 px-3 mb-2 text-grey-darkest leading-tight focus:outline-none") }}
                            <div>
                                {% for error in form.middle_name.errors %}
                                    <span class="inline-block text-red-600 text-sm">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.middle_name(placeholder="This field optional", class="shadow appearance-none rounded-lg w-full py-2 px-3 mb-2 text-grey-darkest leading-tight focus:outline-none") }}
                        {% endif %}
                    </div>

                    <div>
                        {{ form.last_name.label(class="block text-grey-darkest text-sm font-bold mt-3 mb-2") }}
                        {% if form.last_name.errors %}
                            {{ form.last_name(class="shadow appearance-none bg-red-lighter rounded-lg red-light w-full py-2 px-3 mb-2 text-grey-darkest leading-tight focus:outline-none") }}
                            <div>
                                {% for error in form.last_name.errors %}
                                    <span class="inline-block text-red-600 text-sm">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.last_name(placeholder="This field is required", class="shadow appearance-none rounded-lg w-full py-2 px-3 mb-2 text-grey-darkest leading-tight focus:outline-none") }}
                        {% endif %}
                    </div>

                    <div>
                        {{ form.sex.label(class="block text-grey-darkest text-sm font-bold mt-3 mb-2") }}
                        {% if form.sex.errors %}
                            {{ form.sex(class="shadow appearance-none bg-red-lighter rounded-lg red-light w-full py-2 px-3 mb-2 text-grey-darkest leading-tight focus:outline-none") }}
                            <div>
                                {% for error in form.sex.errors %}
                                    <span class="inline-block text-red-600 text-sm">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.sex(class="shadow appearance-none rounded-lg w-full py-2 px-3 mb-2 text-grey-darkest leading-tight focus:outline-none") }}
                        {% endif %}
                    </div>

                    <div>
                        {{ form.phone.label(class="block text-grey-darkest text-sm font-bold mt-3 mb-2") }}
                        {% if form.phone.errors %}
                            {{ form.phone(class="shadow appearance-none bg-red-lighter rounded-lg red-light w-full py-2 px-3 mb-2 text-grey-darkest leading-tight focus:outline-none") }}
                            <div>
                                {% for error in form.phone.errors %}
                                    <span class="inline-block text-red-600 text-sm">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.phone(placeholder="(123)-456-78-90", class="shadow appearance-none rounded-lg w-full py-2 px-3 mb-2 text-grey-darkest leading-tight focus:outline-none") }}
                        {% endif %}
                    </div>

                    <div>
                        {{ form.birthday.label(class="block text-grey-darkest text-sm font-bold mt-3 mb-2") }}
                        {% if form.birthday.errors %}
                            {{ form.birthday(class="shadow appearance-none bg-red-lighter rounded-lg red-light w-full py-2 px-3 mb-2 text-grey-darkest leading-tight focus:outline-none") }}
                            <div>
                                {% for error in form.birthday.errors %}
                                    <span class="inline-block text-red-600 text-sm">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.birthday(placeholder="yyy-mm-dd", class="shadow appearance-none rounded-lg w-full py-2 px-3 mb-2 text-grey-darkest leading-tight focus:outline-none") }}
                        {% endif %}
                    </div>

                    <div>
                        {{ form.occupation.label(class="block text-grey-darkest text-sm font-bold mt-3 mb-2") }}
                        {% if form.occupation.errors %}
                            {{ form.occupation(class="shadow appearance-none bg-red-lighter rounded-lg red-light w-full py-2 px-3 mb-2 text-grey-darkest leading-tight focus:outline-none") }}
                            <div>
                                {% for error in form.occupation.errors %}
                                    <span class="inline-block text-red-600 text-sm">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.occupation(placeholder="Your current occupation at the laboratory", class="shadow appearance-none rounded-lg w-full py-2 px-3 mb-2 text-grey-darkest leading-tight focus:outline-none") }}
                        {% endif %}
                    </div>

                    <div>
                        {{ form.institution.label(class="block text-grey-darkest text-sm font-bold mt-3 mb-2") }}
                        {% if form.institution.errors %}
                            {{ form.institution(class="shadow appearance-none bg-red-lighter rounded-lg red-light w-full py-2 px-3 mb-2 text-grey-darkest leading-tight focus:outline-none") }}
                            <div>
                                {% for error in form.institution.errors %}
                                    <span class="inline-block text-red-600 text-sm">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.institution(placeholder="The current Institution you belong to", class="shadow appearance-none rounded-lg w-full py-2 px-3 mb-2 text-grey-darkest leading-tight focus:outline-none") }}
                        {% endif %}
                    </div>

                </fieldset>

                <div class="mt-10 mb-4">
                    {{ form.submit(class="bg-blue-400 hover:bg-blue-600 text-gray-300 font-bold py-2 px-4 rounded focus:outline-none") }}
                </div>

            </form>
        </div>
    </div>

    <script>
        function showForm() {
            document.getElementById("form").classList.toggle("hidden")
        };
    </script>
{% endblock content %}
