<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% block head %}{% endblock %}
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Laboratory Manager</title>
        {% endif %}
    </head>
    <body>
        <div class="menu_wrapper">
            <a href="#" class="slider_trigger">Menu</a>
            <div class="slider_parent">
                <h1>Welcome</h1>
                <a href="/home">Home</a><br>
                <a href="/frequency">Frequency</a><br>
                <a href="/lendings">Lendings</a><br>
                <a href="/technical">Technical Problems</a><br>
                <a href="/notices">Notice Board</a><br>
                <a href="/news">News</a><br>
                <a href="/calendar">Calendar</a><br>
                <a href="/about">About</a>
            </div>
        </div>

        <div class="page_content">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert-div alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>

        <script>
            var sliderTrigger = document.getElementsByClassName("slider_trigger") [0];
            var slider = document.getElementsByClassName("slider_parent") [0];

            sliderTrigger.addEventListener( "click", function() {
                if(slider.classList.contains("active")) {
                    slider.classList.remove("active");
                }else{
                    slider.classList.add("active");
                }
            });
        </script>
    </body>
</html>