{% extends "layout.html" %}
{% block content %}
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="logon-fieldset">
                <legend class="logon-fieldset-legend">Log In</legend>
                <div class="logon-fieldset">
                    <!-- Stylize using CSS classes-->
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control invalid-input") }}
                        <div class="invalid-input-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control") }}
                    {% endif %}
                </div>
                <div class="logon-fieldset">
                    <!-- Stylize using CSS classes-->
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control invalid-input") }}
                        <div class="invalid-input-feedback">
                            {% for error in form.password.errors%}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-checkbox">
                    {{ form.remember_me(class="form-checkbox-input") }}
                    {{ form.remember_me.label(class="form-checkbox-label") }}
                </div>
            </fieldset>
            <div class="logon-fieldset">
                <!-- Stylize using CSS classes-->
                {{ form.submit(class="btn-submit") }}
            </div>
            <small>
                <a href="#">Forgot password?</a>
            </small>
        </form>
    </div>
    <div class="logon-redirect">
        <small>
            Need an account? <a href="{{ url_for('register')}}">Sign Up</a>.
        </small>
    </div>
{% endblock content %}